#canvas-container {
    height: calc(100%);
    overflow: scroll;
}

#canvas {
    width: 2000px;
    height: 1500px;
}

#workspace {
    height: calc(100vh - 37px);
    border-top: 1px solid black;
}
/*
    #sign-tray {
    border-top: 1px solid black;
    box-sizing: border-box;
    height: 64px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

.sign-tray-image {
    padding: 0 6px;
    cursor: pointer;
    height: 80%;
}

*/

#diagram-editor {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

#editor-properties {
    padding: 0 1vw 16px 1vw;
    box-sizing: border-box;
    overflow-y: scroll;
    flex-grow: 1;
}

#editor-properties input, select, textarea {
    max-width: 100%;
}

#editor-properties .editor-field {
    display: flex;
    align-items: center;
    margin: 8px 0;
    line-height: 1;
}

#element-editor-canvas-container {
    border: 1px solid black;
}

#btn-export-canvas-item {
    height: 48px;
    flex-shrink: 0;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    transition: 0.5s;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}

.table-wrapper {
    width: 100%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }

    .table-title .add-new {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
    }

        .table-title .add-new i {
            margin-right: 4px;
        }

table.table {
    table-layout: fixed;
}

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table th:last-child {
        width: 100px;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

        table.table td a.add {
            color: #27C46B;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

    table.table td i {
        font-size: 19px;
    }

    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

        table.table .form-control.error {
            border-color: #f50000;
        }

    table.table td .add {
        display: none;
    }
