<div id="element-editor" class="h-100">
    <div id="editor-properties">
        <div class="h3" style="padding-top:20px"><strong>Architecture: </strong></div>

        
    </div>

    <button id="btn-export-canvas-item" class="w-100 btn btn-default editor-fields editor-fields-graphic"><strong>Add Element</strong></button>
</div>
