<div class="container-fluid">
    <div class="row">
        <div class="btn-toolbar">
            <div class="btn-group" style="padding-left:20px">
                <button id="btn-new-diagram" class="btn btn-default" data-toggle="modal" data-target="#new-diagram-modal"><i class="fas fa-plus"></i> New Diagram</button>
                <button id="btn-generate-alloy" class="btn btn-default"><i class="fas fa-code"></i> Generate Alloy</button>
            </div>
        </div>
    </div>
</div>