<div id="diagram-editor" class="h-100">
    <div id="editor-properties">
        <div class="h3"><strong>Architecture: </strong></div>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Components</h2></div>
                        <div class="col-sm-4">
                            <button type="button" id="add-new-component" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table id="component-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Ports</h2></div>
                        <div class="col-sm-4">
                            <button type="button" id="add-new-port" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table id="port-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Component</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Connectors</h2></div>
                        <div class="col-sm-4">
                            <button type="button" id="add-new-connector" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table id="connector-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                         
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Roles</h2></div>
                        <div class="col-sm-4">
                            <button type="button" id="add-new-role" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table id="role-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Role</th>
                            <th>Connector</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Interactions</h2></div>
                        <div class="col-sm-4">
                            <button type="button" id="add-new-interaction" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table id="interaction-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Port</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
