<div id="generate-alloy-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Generate Alloy Specification</h4>
            </div>
            <div class="modal-body">
                <form id="generate-alloy-form">
                    <div class="form-group">
                        <label for="document-name" class="col-form-label">Name:</label>
                        <input type="text" name="documentName" class="form-control" id="document-name">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>